/Decisions.Financial/bin/Debug
/Decisions.Financial/obj/Debug
/Decisions.Financial/packages/DecisionsSDK.6.9.0
/Decisions.Financial/packages/ExcelFinancialFunctions.2.4.1
/Decisions.Financial/packages/FSharp.Core.4.0.0.1
